
.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .menu-button:hover{
    color: whitesmoke;
    background-color: #473a3a;
    border: solid 2px whitesmoke;
    box-shadow: 0 0 1rem white;
    transition: 1ms;
  }
  
  .slide-menu {
    position: fixed;
    top: 0;
    right: -250px; /* Oculto por defecto */
    width: 250px;
    height: 100%;
    background-color: #b1b1b1;
    color: black;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 999;
  }
  
  .slide-menu.open {
    left: 0; /* Muestra el menú */
  }
  
  .slide-menu ul {
    list-style-type: none;
    padding: 80px 0 0 0; /* Espacio para el botón de cierre */
    margin: 0;
  }
  
  .slide-menu ul li {
    padding: 8px 16px;
  }
  
  .slide-menu ul li a {
    color: black;
    text-decoration: none;
    display: block;
    background-color: whitesmoke;
    border: solid 2px #820000;
  }
  
  .slide-menu ul li a:hover {
    color: whitesmoke;
    background-color: #820000;
    border: solid 2px whitesmoke;
    box-shadow: 0 0 1rem red;
    transition: 1ms;
  }

  
  